
/* Footer */
.footer {
    padding: 2vh 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex-wrap: wrap;

}

.footer p {
    font-size: 1vw; 
   
}

.mail {
    display: flex;
    align-items: center;
    margin-top: 1vh;
}

.mail img {
    width: 2vw;
    margin-right: 1vw;
}

.linksinfooter {
    display: flex;
    gap: 3vw;
    flex-wrap: wrap;
}

.linksinfooter div {
    display: flex;
    align-items: center;
}

.linksinfooter img {
    width: 2vw;
    margin-right: 1vw;
}

.linksinfooter a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5vw;
}

.linksinfooter a:hover {
    color: #a100ff;
}

/* Horizontal Line */
hr {
    display: flex;
    border: 1px solid #baaec4;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    
}

#second_one {
    display: flex;
    border: 1px solid #baaec4;
    /* margin: 0 auto; */
    width: 90%;
    text-align: center;
    margin-top: 25vh;
}
@media(max-width:300px){
    .linksinfooter{display: block;}
    .footer p {
        font-size: 1vh;
    }
}
@media  (min-width: 400px) and (max-width:700px){
    .linksinfooter{display: block;}
    .footer p {
        font-size: 1.7vh;
    }
}
@media  (min-width: 700px) and (max-width:860px){
    .linksinfooter{display: grid;
    grid-template-columns: 1fr 1fr;grid-template-rows: auto auto; /* Two rows */
    gap: 10px; /* Spacing between the items */
    max-width: 400px; /* Adjust width as needed */}
    .footer p {
        font-size: 1.7vh;
        
    }
}